In [2]:
import pandas as pd
import json
#Ingesting Structure data in .xslx and .csv format
df_excel = pd.read_excel("/content/drive/MyDrive/FDE LAB/LAB1/PlayTennis.xlsx")
print("\nExcel File Head:")
print(df_excel.head())

Excel File Head:
    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [3]:
df_csv = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB1/housing.csv")
print("\nCSV File Head:")
print(df_csv.head())

CSV File Head:
      price  area  bedrooms  bathrooms  stories mainroad guestroom basement  \
0  13300000  7420         4          2        3      yes        no       no
1  12250000  8960         4          4        4      yes        no       no
2  12250000  9960         3          2        2      yes        no      yes
3  12215000  7500         4          2        2      yes        no      yes
4  11410000  7420         4          1        2      yes       yes      yes

  hotwaterheating airconditioning  parking prefarea furnishingstatus
0              no             yes        2      yes        furnished
1              no             yes        3       no        furnished
2              no              no        2      yes   semi-furnished
3              no             yes        3      yes        furnished
4              no             yes        2       no        furnished

In [6]:
# Ingesting unstructured text data
df_txt = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB1/dummy.txt", delim_whitespace=True)
print("\nText File Head:")
print(df_txt.head())

/tmp/ipython-input-1865987101.py:2: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df_txt = pd.read_csv("/content/drive/MyDrive/FDE LAB/LAB1/dummy.txt", delim_whitespace=True)

Text File Head:
      unstructured        data.
lab 1         data  engineering

In [15]:

#Ingesting semi-structured JSON data (Flat JSON file and nested JSON file)
df_json_flat = pd.read_json("/content/drive/MyDrive/FDE LAB/LAB1/normal.json")
print("\nNormal JSON File Head:")
print(df_json_flat.head())


with open("/content/drive/MyDrive/FDE LAB/LAB1/nested.json.json") as f:
    nested_data = json.load(f)
df_json_nested = pd.json_normalize(nested_data)
print("\nNested JSON File Head:")
print(df_json_nested.head())

Normal JSON File Head:
   id   name  age
0   1  Alice   20
1   2    Bob   21

Nested JSON File Head:
  firstName lastName  age                                       phoneNumbers  \
0      John      Doe   30  [{'type': 'home', 'number': '555-1234'}, {'typ...

  address.streetAddress address.city address.zipCode
0       123 Main Street      Anytown           12345